<ion-view view-title="UDC timings">
  <ion-content class="udc">
    
    <img src="images/butlers.jpg" / >
    <div class="card padding" >
        <h5 class="title"> <a href="https://www.google.ae/maps/place/Emirates+Group+Headquarters/@25.241626,55.365947,17z/data=!3m1!4b1!4m2!3m1!1s0x3e5f5da2762978e3:0x79743926b784fb67?hl=en">Emirates Ground floor and 1st floor</a> | <b>24 Hrs</b></h5>
        <div class="item " >
        <p><b>Contact Person:</b> </p>
         <p> Morning Shift : Ritchie - 0561152833 <br/>
          Night Shift :Ronald - 0506502947
         </p>
         
        </div>
    </div>
    <div class="card padding" >
        <h5 class="title"> <a href="https://www.google.ae/maps/place/Dubai+International+Airport/@25.236486,55.396477,14z/data=!4m5!1m2!2m1!1sdubai+super+gate+3!3m1!1s0x3e5f5d0693260e69:0xe695d4007a48eee9?hl=en">Super Gate 3</a> | <b>24 Hrs</b></h5>
        <div class="item " >
        <p><b>Contact Person:</b> </p>
         <p> Aseez : 0526594811 </p>
         <p> Haroon : 055862016 </p>
        </div>
    </div>
    <div class="card padding" >
        <h5 class="title"> <a href="https://www.google.ae/maps/place/Majan+-+Dubai/@25.0902529,55.3198421,15z/data=!4m2!3m1!1s0x3e5f6586a7fd614b:0x1f585fcd21db7352?hl=en">Al Majan</a> | <b>24 Hrs</b></h5>
        <div class="item " >
        <p><b>Contact Person:</b> </p>
         <p> Scola : 0559213012 </p>
         <p> Naeem : 0505178202 </p>
        </div>
    </div>
    <div class="card padding" >
        <h5 class="title"> <a href="https://www.google.ae/maps/place/Idama+Facilities+Management+Solutions/@25.105049,55.168416,17z/data=!4m5!1m2!2m1!1sal+quos+idama!3m1!1s0x3e5f6b6d23956a17:0x2ee6ccc7b95fa701?hl=en">Al Qous Idama</a> | <b>8:00-20:00</b></h5>
        <div class="item " >
        <p><b>Contact Person:</b> </p>
         <p> Rashidul : 056975607 </p>
        </div>
    </div>
  </ion-content>
</ion-view>

